<div class="registration-form-main-container">
  <div class="registration-form-content-container">
    <div class="registration-form-content">

      <h2>Sign up</h2>
      <p>Business</p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <div class="text-box"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em><br>(<%= @minimum_password_length %> characters minimum </em>
          <% end %><br />
          <div class="text-box"><%= f.password_field :password, autocomplete: "new-password" %></div>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <div class="text-box"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
        </div>

        <div class="submit-button-container">
        <div class="actions">
          <div class="sign-up-submit-button"><%= f.submit "submit", id: 'submit-btn' %>
          </div>
        </div>
        </div>
      <% end %>
      <p>already have an account?</p>
       <%= render "users/shared/links" %>
    </div>
  </div>
</div>
<script>
const signupButton = document.querySelector('#submit-btn')
signupButton.addEventListener('click', (e) => {
  setTimeout(() => {
    signupButton.removeAttribute('disabled')
    document.body.prepend('Passwords do not match, please try again')
  }, 200)
})
</script>

