
      
<div class="welcome-main-container">

  <div class="welcome-logo-container">
    <div class="welcome-logo">
      <h1>I recycle</h1>
    </div>
  </div>

  <div class="welcome-bottom-container">
    <% @products.each_with_index do |product, index| %>
        <div class="marketplace-product-card">   
        <div class="image-box"><%= image_tag product.uploaded_image, class: 'marketplace-image-size' %></div>      
        <p><%= product.category %></p>
        <p>location:<%= product.location %></p>

        <%= link_to "show details", product_path(product.id) %>  
        </div>              
    <% end %>


  </div>
  <div class="welcome-footer">
    <div class="see-more-link"><p><%= link_to 'See more >', products_path %></p></div>
  </div>

</div>
<%= yield %>
  </body>
</html>