
      
<div class="welcome-main-container">

  <div class="welcome-logo-container">
    <div class="welcome-logo">
      <h1> I recycle</h1>
    </div>
  </div>

  <div class="welcome-bottom-container">
    <% @products.each_with_index do |product, index| %>
        <div class="marketplace-card">
        <div class="card-top-box">
        <div class="marketplace-product-card-image">   


        <%= image_tag "#{product.find_image_name}" , class: 'marketplace-image-size' %>
        </div>
        </div>

        <div class="card-info">
        <p><%= product.category %> in : <%= product.location %></p> 

        <div class="gen-button-white"><%= button_to "details", product_path(product.id), method: :get %></div>

        </div>

        </div>              

      <% end %>


  </div>
  <div class="welcome-footer">
    <div class="see-more-link"><p><%= link_to 'See more >', products_path %></p></div>
  </div>

</div>
<%= yield %>
  </body>
</html>