
<div class="user-dash-main-container">
	<div class="user-dash-left-container">
		<p>Current items posted</p>
			<div class="current-items-container">
			
				<% @products.each_with_index do |product, index| %>
        <div class="user-dash-card">
        <div class="card-top-box">
        <div class="dash-product-card-image">   
            <%= image_tag product.uploaded_image, class: 'marketplace-image-size' %>
        </div>
        </div>

        <div class="card-info">
        <p>category: <%= product.category %></p>

				<div class="dashboard-buttons-row">
					<div class="gen-button"><%= button_to "details", product_path(product.id), method: :get %></div>
					<div class="gen-button"><%= button_to "edit", edit_product_path(product.id), method: :get %></div>
					<div class="gen-button"><%= button_to 'delete', product_path(product.id),
													method: :delete,
													data: { confirm: 'Are you sure?' } %></div>
				</div>

        </div>

        </div>              
      <% end %>
				</div>
	</div>
	<div class="user-dash-right-container">
		<div class="user-dash-right-top">
		
		<h3><%= link_to 'Edit account details', edit_user_registration_path %></h3>
		<p>edit your email address</p>
		<p>reset your password</p>
		<div class="gen-button"><%= button_to "edit", edit_user_registration_path, method: :get %></div>

		</div>
		<div class="user-dash-right-bottom">
		<h3>cancel my account</h3>
    <p>no longer using your account?</p>
      <div class="gen-button"><%= button_to "delete", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete %></div>
		</div>
	</div>
</div>
