
<div class="user-dash-main-container">
	<div class="user-dash-left-container">
	<p>Current items posted</p>
	<% @products.each_with_index do |product, index| %>
                      
        <%= product.category %> - <%= product.category %> 
        <%= product.quantity %>
        <%= product.location %>

        <%= link_to "show", product_path(product.id) %>   <br/><br/>             
      <% end %> 
	</div>
	<div class="user-dash-right-container">
		<div class="user-dash-right-top">
		
		<h3><%= link_to 'Edit account details', edit_user_registration_path %></h3>
		<p>edit your email address</p>
		<p>reset your password</p>
		<div class="gen-button"><%= button_to "edit", edit_user_registration_path, method: :get %></div>

		</div>
		<div class="user-dash-right-bottom">
		<h3>cancel my account</h3>
    <p>no longer using your account?</p>
      <div class="gen-button"><%= button_to "delete", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete %></div>
		</div>
	</div>
</div>