<!DOCTYPE html>
<html>
  <head>
    <title>RecyclingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div>
      <div class="nav-container3">
      
        <p class="nav-item3"><%= link_to 'Home', root_path %></p>

        <% if user_signed_in? %>
        <p class="nav-item3"><%= link_to 'New post', new_product_path %></p>
        <p class="nav-item3"><%= link_to 'Dashboard', user_dashboard_path %></p>
          <% elsif business_signed_in? %>
          <p class="nav-item3"><%= link_to 'Dashboard', business_dashboard_path %></p>
          <p class="nav-item3"><%= link_to 'Marketplace', products_path %></p>
        <% end %>
    
        <% if user_signed_in? %>
            <p class="nav-item3"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
        <% elsif business_signed_in? %>
            <p class="nav-item3"><%= link_to 'Log out', destroy_business_session_path, method: :delete %></p>
        <% elsif admin_signed_in? %>
            <p class="nav-item3"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p>
        <% else %>
          <p class="nav-item3"><%= link_to 'Log In', login_path %></p>
          <p class="nav-item3"><%= link_to 'Sign Up', signup_path %></p>
        <% end %>
    </div>

    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
      <%= yield %>
  </body>
</html>
