<div class="marketplace-main-container">

  <div class="marketplace-content">
    <h1>Marketplace</p>

    <div class="marketplace-product-card">

      <% @products.each_with_index do |product, index| %>
                      
        <%= product.title %> - <%= product.category %> 
        <%= product.quantity %>
        <%= product.location %>

        <%= link_to "show", product_path(product.id) %>                
      <% end %>
    </div>
  </div>

</div>