<h1>Create A New Post</h1>
<form action="<%= products_path %>" method="POST" enctype="multipart/form-data" >
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

      <% if @product.errors.any? %>
    <div id="error_explanation">
        <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
        </h2>
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>
    
    <div class="form_row">
        <label for="category">Category:</label><br/>
        <br><%= radio_button_tag 'category', 'Bottles', true %> Bottles 
        <br><%= radio_button_tag 'category', 'Cardboards' %> Cardboards <br/><br/>
    </div>

    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" id="quantity"/><br/><br/>

    <label> Image upload</label>
    <input type ="file" name = "uploaded_image" accept ="image/jpg">
    <br/><br/>

   <div class="form_row">
    <label for="location">Location:</label><br/>
    <br><%= radio_button_tag 'location', 'New South Wales', true %> New South Wales
    <br><%= radio_button_tag 'location', 'Queensland ' %> Queensland 
    <br><%= radio_button_tag 'location', 'South Australia' %> South Australia
    <br><%= radio_button_tag 'location', 'Tasmania' %> Tasmania
    <br><%= radio_button_tag 'location', 'Victoria' %> Victoria
    <br><%= radio_button_tag 'location', 'Western Australia' %> Western Australia

    </div>

    <input type="submit" value="Create" />
    
    
</form>