<div class="shownew-main-container">
  <div class="shownew-content">

    <h3>Post a new item</h3>
    <form action="<%= products_path %>" method="POST" enctype="multipart/form-data" >
        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

        <% if @product.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@product.errors.count, "error") %> prohibited
            this article from being saved:
            </h2>
            <ul>
            <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>
        
        <div class="form_row">
            <label for="category">Category:</label><br/>
            <br><%= radio_button_tag 'category', 'Glass', true %> Glass
            <br><%= radio_button_tag 'category', 'Cardboard' %> Paper or Cardboard
            <br><%= radio_button_tag 'category', 'Textile' %> Textile
            <br><%= radio_button_tag 'category', 'PET Plastic' %> PET plastic
            <br><%= radio_button_tag 'category', 'Batteries' %> Batteries
            <br><%= radio_button_tag 'category', 'Aluminium' %> Aluminium
        </div>
    <br>
        <label for="quantity">weight in kg</label>
        <input type="number" name="quantity" id="quantity"/><br/><br/>

        <label> Image upload</label>
        <div class="button-image-upload"><input type ="file" name = "uploaded_image" accept ="image/jpg" required></div>
        <br/><br/>

    <div class="form_row">
        <label for="location">Location:</label><br/>
        <br><%= radio_button_tag 'location', 'NSW', true %> NSW
        <br><%= radio_button_tag 'location', 'QLD' %> QLD 
        <br><%= radio_button_tag 'location', 'SA' %> SA
        <br><%= radio_button_tag 'location', 'TAS' %> TAS
        <br><%= radio_button_tag 'location', 'VIC' %> VIC
        <br><%= radio_button_tag 'location', 'WA' %> WA
        <br><%= radio_button_tag 'location', 'NT' %> NT
        <br><%= radio_button_tag 'location', 'ACT' %> ACT


        </div>

        <div class="gen-button"><input type="submit" value="Submit" /></div>

    </form>

 </div>

</div>