<h3>Category</h3>
<h3><%= @product.category %></h3>

<h3>Quantity</h3>
<p><%= @product.quantity %></p>
<% if @product.uploaded_image.attached? %>
  <%= image_tag @product.uploaded_image, class: 'image-size' %>
<% else %>
  <p>No image for this product</p>
<% end %>

<h3>Location</h3>
<p><%= @product.location %></p>

<%= link_to "Back", :back %>