<div class="shownew-main-container">
  <div class="shownew-content">

    <h3>Details</h3>
      <% if @product.uploaded_image.attached? %>
        <%= image_tag @product.uploaded_image, class: 'image-size' %>
      <% else %>
        <p>No image for this product</p>
      <% end %>

    <p>category: <%= @product.category %></p>
    <p>Quantity: <%= @product.quantity %></p>
    <p>Location: <%= @product.location %></p>


   <% if business_signed_in? %>
      
      <%= form_tag charges_path do %>
        <input name="product_id" type="hidden" value="<%= @product.id %>"> 
        <input name="user_id" type="hidden" value="<%= @product.user.id %>"> 
        <input name="business_id" type="hidden" value="<%= current_business.id %>"> 
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>postage payable: $<%= number_with_precision(@product.postage_calc, precision: 2) %></span> <br/><br/>
          </label>
          <input type="hidden" value="<%= form_authenticity_token() %>"name="authenticity_token"/>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Purchase Recyclable products"
          data-amount= "<%= @product.postage_calc * 100%>"
          data-locale="auto">
        </script>
        <script>
          button = document.querySelector('.stripe-button-el')
          button.style.display = 'none';
        </script>
        <button id="custom-stripe-btn">request and pay</button>
      <% end %>
    <%end %>



    <br>
    <%= link_to "< back", :back %>

  </div>

</div>